<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full p-10 bg-zinc-900">
        <div class="mb-12">
            <a href="/read" class="text-blue-500">view all users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3 text-white">Update User</h1>
        <form action="/edit/<%=user._id%>" method="post">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent text-white" name="name" type="text" placeholder="name" value="<%=user.name%>">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent text-white" name="email" type="email" placeholder="email" value="<%=user.email%>">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent text-white" name="imageUrl" type="url" placeholder="image url" value="<%=user.imageUrl%>">
            <input class="px-5 py-2 bg-yellow-600 rounded-lg ml-3 cursor-pointer text-white" type="submit" value="Update User">
        </form>
    </div>
</body>
</html>